@require 'mixins.styl'
@require 'fonts.styl'

/* Colors */

$seashell = #F1F1F1
$main-shaft = #343434
$white = #ffffff
$red = #FF0000
$waterloo = #7B7A9F
$gray = #808080
$iron = #D4D7D9
$cornflower-blue = #ccc


/* Offsets */

$default-offset = 15px

/* Fonts */

$font-family-general = 'Roboto'

/* Screen */

$extra-large = 1200px
$large = 992px
$medium = 768px
$small = 576px

/* Helpers */

$path-to-images = '../../../public/images/'