@require '../../common/styles/global-variables.styl'

.header-nav
  transform translateY(-1000px)
  transition: .5s
  @media(min-width: $extra-large)
    transform none
    display: block

  &--mobile-view
    transform none
    display: block
    position: fixed
    left: 0
    top: 80px
    z-index: 2
    size(100vw, 100vh)
    .header-nav__list
      padding-top: $default-offset * 8
      size(100%)
      flex-direction: column
      background-color: $white
      justify-content: flex-start
    .header-nav__item
      margin-bottom: $default-offset


  &__list
    height: 30px
    display: flex
    flex-direction: row
    justify-content: flex-end
    align-items: center
    list-style-type: none

  &__link
    padding: $default-offset * .5 $default-offset * 1.5
    text-transform: uppercase
    color: $gray
    font-weight: 500
    font-size: 14px
    letter-spacing: .5px
    z-index: 1

  &__item-icon-container
    margin: 1.5px 0 2px 2.5px
    display: flex
    justify-content: center
    align-items: center
    size(30px)
    background-color: $white
    border-radius: 50%

  &__item-icon
    display: block
    size(70%)
    animation: ring 3s infinite

  &__svg
    width: 25px
    height: auto
    fill: $gray
    transition: .3s
    &:hover
      fill: $red