@require '../../common/styles/global-variables.styl'

.logo
  display: inline-block
  size(184px, 30px)

  &__img
    width: 100%
    height: auto

  &__text
    font-size: 11px
    color: $gray
    text-transform: uppercase
    letter-spacing: 1.3px
    font-weight: bold